[Unit]
Description=Lerd PHP {{.Version}} FPM
After=network.target

[Container]
Image=php:{{.Version}}-fpm-alpine
ContainerName=lerd-php{{.VersionShort}}-fpm
Network=lerd
Volume=%h:%h:rw
Exec=/bin/sh -c "printf '[www]\nuser=root\ngroup=root\n' > /usr/local/etc/php-fpm.d/zz-lerd.conf && php-fpm -F -R"

[Service]
Restart=always

[Install]
WantedBy=default.target
